<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no, email=no">
    <link rel="stylesheet" href="../css/style.css"/>
	<title>活动分享页面</title>
</head>
<body>
	<div class="page-wrap">
	    <div class="page" style="-webkit-overflow-scrolling: touch;">
	    	<div class="page01" >
				<img class="logo" src="../resource/img/share/logo.png">
				<img class="top" src="../resource/img/share/top.png">
				<img class="middle" src="../resource/img/share/middle.png">
				<img class="end" src="../resource/img/share/end.png">
				<div class="slideUp">
					<img src="../resource/img/share/arrow.png">
				</div>
	    	</div>
	    </div>
	    <div class="page" style="-webkit-overflow-scrolling: touch;">
	    	<div class="page__inner" style="position: relative; ">
	    		<div class="page02" >
		    		<img class="send" src="../resource/img/share/send.png">
					<div class="control">
						<div class="content">
							<div class="title">
							<img class="title_p" src="../resource/img/share/title_m.png">
								<div class="text">
									5月独一无二的超级福利
								</div>
							</div>
							<div class="pic">
								<div class="number">1</div>
								<img class="circle" src="../resource/img/share/circle.png">
								<img class="aty" src="../resource/img/share/aty.png">
								<!-- if判断状态 -->
								<a href="../html/share_detail.html">
									<div class="btn join">
									</div>
								</a>
								
							</div>
							<div class="pic">
								<div class="number">1</div>
								<img class="circle" src="../resource/img/share/circle.png">
								<img class="aty" src="../resource/img/share/aty.png">
								<img class="btn return" src="../resource/img/share/return.png">
								</a>
							</div>
							<div class="pic">
								<div class="number">1</div>
								<img class="circle" src="../resource/img/share/circle.png">
								<img class="aty" src="../resource/img/share/aty.png">
								<!-- 判断 状态 未开始-->
								<img class="next" src="../resource/img/share/next.png">
							</div>
						</div>			
					</div>
					<img class="ending" src="../resource/img/share/ending.png">
		    	</div>
	    	</div>
	    </div>
	</div>

	<script src="../resource/slider/zepto_modify.js"></script>
	<script src="../resource/slider/PageSlider.js"></script>
	<script>
	    new PageSlider({
	        pages: $('.page-wrap .page'),
	        rememberLastVisited: true,
		    oninit: function(){
		        //返回时，需告诉我们此时为返回动作而不是刷新，可以通过 hash 告诉我们
		        //PageSlider 所有回调接口 this 指向 PageSlider，方便进行操作
		        if(true){
		            this.moveTo(this.lastVisitedIndex, true);
		        }
		    }
	    });

	    $(".next").click(function(){
	    	alert("活动尚未开始")
	    });

	    window.onload = function(){

			var join=$(".join");
				for(var i=0;i<join.length;i++){
				join[i].addEventListener('touchstart',function(){},false);
			};
			var rtn=$(".return");
			for(var i=0;i<rtn.length;i++){
			rtn[i].addEventListener('touchstart',function(){
				$(".return").attr("src","../resource/img/share/returned.png")
			},false);
			};		
		}
	</script>

</body>
</html>