* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
@font-face { 
font-family: Ly;    /* 定义font的名字 */ 
src: url('../resource/font.TTF');   /*把下载的字体文件引入进来*/ 
} 

@-webkit-keyframes shang{
    0%{-webkit-transform:translateY(0%);
        transform:translateY(0%);
        visibility:visible;opacity:1;}
    100%{
        -webkit-transform:translateY(-30%);
        transform:translateY(-30%);
        opacity:0;}
}

@-webkit-keyframes shang1{
    0%{-webkit-transform:translateY(700%);
        transform:translateY(700%);
        visibility:visible;opacity:0;}
    100%{-webkit-transform:translateY(0%);
        transform:translateY(0%);
        opacity:1;}
}
@-webkit-keyframes shang2{
    0%{-webkit-transform:translateY(130%);
        transform:translateY(130%);
        visibility:visible;opacity:0;}
    100%{-webkit-transform:translateY(0%);
        transform:translateY(0%);
        opacity:1;}
}
@-webkit-keyframes shang3{
    0%{-webkit-transform:translateY(10%);
        transform:translateY(10%);
        visibility:visible;opacity:0;}
    100%{-webkit-transform:translateY(0%);
        transform:translateY(0%);
        opacity:1;}
}
@-webkit-keyframes shang4{
    0%{-webkit-transform:translateY(30%);
        transform:translateY(30%);
        visibility:visible;opacity:0;}
    100%{-webkit-transform:translateY(0%);
        transform:translateY(0%);
        opacity:1;}
}

body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.page-wrap {
    width: 100%;
    height: 100%;
}

.page {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}
.page .page01{
    background-image: url(../resource/img/share/bg.jpg);
    height: 100%;
    background-size: cover;
}


.page .page01 .logo{
    width: 50%;
    position: absolute;
    top: 5%; 
    left: 23%;
    opacity: 0;
    -webkit-animation:shang1 1s linear 0.2s 1 forwards;
}
.page .page01 .top{
    position: absolute;
    width: 90%;
    top: 17%;
    left: 25px;
    opacity: 0; 
    -webkit-animation:shang2 1s linear 1.2s 1 forwards; 
}
.page .page01 .middle{
    width: 90%;
    position: absolute;
    top:54%; 
    left: 15px;
    opacity: 0;
    -webkit-animation:shang3 1s linear 2.2s 1 forwards;
}
.page .page01 .end{
    position: absolute;
    bottom: 11%;
    width: 55%;
    left: 80px;
    opacity: 0;
    -webkit-animation:shang4 0.5s linear 3.2s 1 forwards;
}
.page .page01 .slideUp{
    color: #000;
    font-size: 40px;
    position: absolute;
    bottom: 0%;
    left: 47%;
    -webkit-animation:shang 2s linear 0s infinite forwards;
}
.page .page01 .slideUp img{
    width: 50%;
}

.page02{
    height: 100%;
    background:url(../resource/img/share/up.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    overflow: scroll;
}
.page02 .send{
    width: 100%;
    margin-top: 30px;;
}
.page02 .content{
    width: 100%;
    margin: 25px 50px 0 28px;
    position: relative;
}
.page02 .content .title{
    z-index: 20;
    position: relative;
    line-height: 80px;
    text-shadow:1px 2px 1px rgba(0,0,48,0.6);
    margin-left: -34px;
    width: 100%;
    height: 23px; 
    font-size: 16px;
    color: #fff;
    font-family: Ly;
}
.page02 .content .title_p{
    width: 60%;
    position: absolute;
    left: 12px;
}
.page02 .content .title .text{
    position: absolute;
    margin-left: 20px;
    margin-top: -23px;
}
.page02 .content .title .text span{
    margin-left: 6px;
}
.page02 .content .title .span{
    position: absolute;
    margin-left: 14px;
} 
.page02 .content .pic{
    position: relative;
    padding: 30px 0;
    background: url(../resource/img/share/line.png);
    background-repeat: repeat-y;
}
.page02 .content .pic:last-child {
        background: none;
        background-repeat: repeat-y;
        padding: 0;
} 
.page02 .content .pic .number{
    z-index: 20;
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 3px 3px rgba(0,0,48,0.6);
    margin: 1px 0px 0 -14px;
    position: absolute;
    width: 31px;
    text-align: center;
    font-family: Ly;
}
.page02 .content .pic .circle{
    margin:0 22px 0 -11px;
    position: absolute;
    width: 8%
}
.page02 .content .pic .aty{
    width: 95%;
}
.page02 .btn{
    margin: -23px 0 0 100px;
    width: 30%;
}
.page02 .join{
    position: absolute;
    left: -10px;
    background-image: url(../resource/img/share/join.png);
    width: 120px;
    height: 40px;
    background-size: cover;
}
.page02 .join:active{
    background-image: url(../resource/img/share/joined.png);  
}
.page02 .pic .button{
    position: absolute;
    bottom: 17px;
    left: 106px;
    width: 98px;
    height: 32px;
}
.page02 .pic .next{
    width: 40%;
    margin: -50px 0 0 70px;
}
.page02 .ending{
    width: 100%;
    margin:68px 0 240px 0;
}

/*上滑提示*/
@-webkit-keyframes swipeMoveTop {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 10px, 0);
    }
    70% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -10px, 0);
    }
}

/*左滑提示*/
@-webkit-keyframes swipeMoveLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(10px, 0, 0);
    }
    70% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-10px, 0, 0);
    }
}

@-webkit-keyframes slideToTop {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}